body {
    background: url('http://e2ua.com/data/wallpapers/110/WDF_1534298.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

span {
	font-family: cursive;
}
